.row{
    display: flex;
    flex-wrap: wrap;
    margin-right:2px;
}
.logo{
    font-size: 35px;
    color: black;
    padding-left: 16px;

}

.formgroup{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}
.header-container{
      background-color:whitesmoke;
      width:100%;
      height: auto;
}  
.header-content{
    align-self: flex-end;
    color: black;
    padding-right: 140px;
}
 .search-button{
    width: 200px;
    background-color: gold;
    color: black;
    border: none;
    border-radius: 2px;
    height: 35px;
    font-size: 15px;
    text-align: center;
 }
 .body-container{
     font-size: small;
     font-style: serif;
 }